.circle {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;

  .number {
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    cursor: default;
  }
}

.child {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid slategray;
  background-color: #d0f8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .child-content {
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    max-width: 80px;
    max-height: 30px;
    cursor: default;
  }
}

.has-children {
  @extend .child;
  cursor: pointer;
  background-color: #72d572;
  .child-content {
    cursor: pointer;
  }
  &:hover{
    background-color: #5eca62;
  }
}

.child-pair {
  justify-content: space-between;
  display: flex;
  min-width: 160px;
  margin: 30px 10px;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

#lines-container {
  position: absolute;
  z-index: 0;
  > line {
    stroke: #3f51b5;
  }
  .lineToChild {
    stroke: blue;
  }
}
.md-tooltip.md-show {
  height: 36px;
  line-height: 36px;
  font-size: 19px;
}
