<div id="tree-wrapper">
    <svg id="lines-container">
    </svg>
</div>
<!--
<div class="child-container">
    <div class="child">
        <div class="child-content">
            2124
        </div>
    </div>
    <div class="child-pair">
        <div class="child-container">
            <div class="child">
                <div class="child-content">
                    2124
                </div>
            </div>
            <div class="child-pair">
                <div class="child-container">
                    <div class="child">
                        <div class="child-content">
                            2124
                        </div>
                    </div>
                    <div class="child-pair">
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-container">
                    <div class="child">
                        <div class="child-content">
                            2124
                        </div>
                    </div>
                    <div class="child-pair">
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="child-container">
            <div class="child">
                <div class="child-content">
                    2124
                </div>
            </div>
            <div class="child-pair">
                <div class="child-container">
                    <div class="child">
                        <div class="child-content">
                            2124
                        </div>
                    </div>
                    <div class="child-pair">
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                        <div class="child-container">
                            <div class="child">
                                <div class="child-content">
                                    2124
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="child-container">
                    <div class="child">
                        <div class="child-content">
                            2124
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->
