.circle {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;

  .number {
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    cursor: default;
  }
}

.child {
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .child-content {
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    cursor: default;
    max-width: 80px;
    max-height: 30px;
  }
}

.child-pair {
  justify-content: space-between;
  display: flex;
  min-width: 160px;
  margin: 30px 10px;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lines-container {
  position: absolute;
  z-index: 1;
  > line {
    stroke: red;
  }
  .lineToChild{
    stroke: blue;
  }
}